/* Variáveis CSS para tema claro */
:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --card-bg: #ff6b6b;
    --text-primary: #333333;
    --text-secondary: #666666;
    --accent-color: #ff6b6b; /* Vermelho pastel */
    --accent-color-hover: #cb4637;
    --border-color: #e0e0e0;
    --input-bg: #9d9d9d;
    --modal-bg: rgba(189, 189, 189, 0.85);
    --shadow: 0 2px 4px rgba(0,0,0,0.1);
    --shadow-hover: 0 4px 8px rgba(0,0,0,0.15);
    --border-radius: 0.5rem;
    --transition: all 0.3s ease;
}

/* Variáveis CSS para tema escuro */
html.dark-mode {
    --bg-primary: #1c1919;
    --bg-secondary: #292929;
    --card-bg: #404040;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --accent-color-hover: #ec0000;
    --accent-color: #c64132;
    --border-color: #404040;
    --input-bg: #181818;
    --modal-bg: rgba(10, 10, 10, 0.85);
    --shadow: 0 2px 4px rgba(0,0,0,0.3);
    --shadow-hover: 0 4px 8px rgba(0,0,0,0.4);
}