{% extends "base.html" %}
{% load static %}

{% block title %}Anotações - Infinity School{% endblock %}

{% block header_title %}Anotações{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static "css/note_list.css" %}">
{% endblock head %}


{% block header %}
<nav class="nav-menu">
    <div class="left-menu">
        <a href="{% url 'inicio' %}" class="btn btn-secondary">Dashboard</a>
        <a href="{% url 'perfil' %}" class="btn btn-secondary">Perfil</a>
        <a href="{% url 'note_list' %}" class="btn btn-primary">Anotações</a>
        <a href="{% url 'planilhas' %}" class="btn btn-secondary">Planilhas</a>
    </div>

    <div class="right-menu">
        <div class="profile-container">
            <img src="{{ user.perfil.foto }}" alt="Foto de Perfil" class="profile-img">
            <span class="username">{{ user.perfil }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}{% endblock content %}