{% extends 'anotacoes/base_notas.html' %}
{% load static %}

{% block content %}

<!-- Botão flutuante para adicionar nota -->
<a class="add-note-btn" id="addNoteBtn" href="{% url "note_create" %}">+</a>

<div class="notas-container">
    {% for note in notes %}
        <div class="nota-card" id="note-{{ note.id }}"onclick="openNoteModal({{ note.id }})">
            <div style="flex:1">
                <div style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width:100%;">
                    {{ note.content|truncatechars:85 }}
                </div>
            </div>
            <div class="nota-title">{{ note.title|default:"Sem título" }}</div>
            <div class="nota-date">{{ note.created_at|date:"d/m/Y" }}</div>
        </div>
    {% empty %}
        <div style="color:#888; font-size:1.1em;">Nenhuma nota criada ainda.</div>
    {% endfor %}
</div>

<div class="modal-overlay" id="modalOverlay" style="display: none;">
	<div class="modal-content">
	  <h2 class="note-title" id="noteTitle"></h2>
	  <p class="note-content" id="noteContent"></p>
	  <div class="form-actions">
		<button class="btn-quick btn-secondary" onclick="deleteNote()">Excluir</button>
		<button class="btn-quick btn-inative" onclick="editNote()">Editar</button>
		<button class="btn-quick btn-secondary" onclick="closeModal()">Fechar</button>
	  </div>
	</div>
  </div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
	let NOTES = [
    {% for note in notes %}
      {
        id: {{ note.id }},
        title: `{{ note.title|escapejs }}`,
        content: `{{ note.content|escapejs }}`
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
	];

	let currentNoteId = null;

	function openNoteModal(noteId) {

		const note = NOTES.find(n => n.id === noteId);
		if (note) {
			currentNoteId = note.id;
			console.log(note.id)
			document.getElementById("noteTitle").innerText = note.title;
			document.getElementById("noteContent").innerText = note.content;
			document.getElementById("modalOverlay").style.display = "flex";
		}
	}

	function deleteNote() {
		if (!currentNoteId) return

		if (!confirm("Tem certeza que deseja excluir essa nota?")) return;
		
		fetch(`${currentNoteId}/deletar/`, {
			method: 'POST',
			headers: {
				'X-Requested-With': 'XMLHttpRequest',
				'X-CSRFToken': getCookie('csrftoken'),
			}
		})
		.then(response => response.json())
		.then(data => {
		if (data.success) {
			alert("Nota excluída com sucesso!");
			// Remove visualmente da página
			document.querySelector(`#note-${currentNoteId}`)?.remove();
			closeModal();
		  } else {
			alert("Erro ao excluir.");
		  }
		});
	}

</script>
{% endblock scripts %}